div{
    /* background-color: red; */
    /* width: 500px; */
}
body{
    background-color: bisque;
    min-height: 900px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container{
    /* background-color: green; */
    
    display: flex;
    -ms-flex-align: center;
}
/* .col{
    width: 50px;
    height: 50px;
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: black;
} */
.row{
    width: 70px;
    height: 70px;
    border: 1px;
    background-color: white;
    border-style: solid;
    border-color: black;
}
/* .row:hover{
    background-color: violet;
} */
.hov{
    background-color: violet;
}